@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.no-spinner {
    -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
